<div class="text-center">
{% if data is not null and data.isQuarantined() %}
    {%- set popup_content -%}
        <h5>{{ "monsieurbiz_anti_spam.ui.the_reasons"|trans }}</h5>
        <div class="ui list">
        {%- for reason in data.reasonCodes -%}
            <div class="item">
                <i class="caret right icon"></i>
                {{ reason|trans }}
            </div>
        {%- endfor -%}
        </div>
    {%- endset -%}
    {% if data.isQuarantined(constant('MonsieurBiz\\SyliusAntiSpamPlugin\\Entity\\QuarantineItemInterface::LEVEL_PROVEN')) %}
        <div class="text-red mb-2" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="{{ popup_content|e('html_attr') }}">
            {{ ux_icon('tabler:ban', { class: 'icon' }) }}
            {{ "monsieurbiz_anti_spam.ui.proven"|trans }}
        </div>
    {% elseif data.isQuarantined(constant('MonsieurBiz\\SyliusAntiSpamPlugin\\Entity\\QuarantineItemInterface::LEVEL_LIKELY')) %}
        <div class="text-orange mb-2" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="{{ popup_content|e('html_attr') }}">
            {{ ux_icon('tabler:ban', { class: 'icon' }) }}
            {{ "monsieurbiz_anti_spam.ui.likely"|trans }}
        </div>
    {% elseif data.isQuarantined(constant('MonsieurBiz\\SyliusAntiSpamPlugin\\Entity\\QuarantineItemInterface::LEVEL_SUSPECTED')) %}
        <div class="text-yellow mb-2" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="{{ popup_content|e('html_attr') }}">
            {{ ux_icon('tabler:ban', { class: 'icon' }) }}
            {{ "monsieurbiz_anti_spam.ui.suspected"|trans }}
        </div>
    {% endif %}
    {{ include('@MonsieurBizSyliusAntiSpamPlugin/Admin/Grid/Action/_update_quarantine_button.html.twig', {
        'options': {'without_label': true}
    }) }}
{% else %}
    <div class="text-green">
        {{ ux_icon('tabler:check', {'class': 'icon'}) }}
        {{ 'monsieurbiz_anti_spam.ui.ok'|trans }}
    </div>
{% endif %}
</div>
